$light: rgba(227, 228, 245, 1);
$highlight: rgba(77, 92, 158, 1);
$dark: rgb(5, 13, 63);


$darkblue: #004e64;
$mediumblue: #00a5cf;
$lightgreen:#9fffcb;
$green: #7ae582;
$petrol: #25a18e;
$darkgrey: #111;

// $fa-font-path: "/webfonts";
// @import "scss/fontawesome.scss";
// @import "scss/solid.scss";

// /* Solid style */
// .user {
//     @extend %fa-icon;
//     @extend .fa-solid;
  
//     &:before {
//       content: fa-content($fa-var-user);
//     }
//   }